/*Your styles goes here*/
body{
    font-family: 'Lato', sans-serif;
    background: #f7f7f4;
}

.text-center{
    text-align: center;
    margin: 1.25rem 0;
    border-bottom: 1px solid #dadada;
    padding: 1.25rem 0;
}

.col-md-3{
    margin: 1.25rem 0;
}

@media screen and (max-width: 34em) {
  .col-sm-6{
    margin-left: 1.25rem;
}

}
